@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");

body {
  background-color: #fafafa;
}

.card {
  background-color: #fdfdfd !important;
  justify-content: center;
  height: 21em;
  width: 21em;
  margin: 1em;
  border: solid 1px grey;
}

.MuiCardContent-root {
  margin: 0;
  padding: 0;
  height: 12em;
  width: 18em;
  text-align: center;
}

.card-buttons {
  text-align: center;
}

.card-crud {
  display: flex;
  justify-content: flex-end;
}

p {
  font-family: "Commissioner", sans-serif;
}
