@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");

.topic-header {
  font-family: "Commissioner", sans-serif;
  text-align: center;
}

.topic-card-buttons {
  text-align: center;
}

.card-form {
  text-align: center;
}

.card-input {
  margin: 3px;
  font-family: "Commissioner", sans-serif;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
}
