.topic-page {
  font-family: "Commissioner", sans-serif;
  text-align: center;
}

.topic-header-main {
  font-size: 2.75em;
}

.topic-form {
  margin-top: -1em;
  margin-bottom: 1em;
}

.topic-link:link,
.topic-link:visited {
  font-size: 2em;
  text-decoration: none;
  color: steelblue;
}

.focus-link:link,
.focus-link:visited {
  text-decoration: none;
  color: palevioletred;
  font-size: 1.5em;
}

.single-topic {
  margin: 1em;
}
